@use "sass:color";

.button {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 500;
	padding: 8px;
	border-radius: 6px;
	border: none;
	cursor: pointer;

	&:active {
		color: color.adjust(white, $lightness: -2%);
		transform: translateY(1px);
	}

	&.full-width {
		width: 100%;
	}

	&.small {
		font-size: 14px;
		padding: 6px;
	}

	&.teal {
		background-color: #0b7285;

		&:hover {
			background-color: color.adjust(#0b7285, $lightness: -3%);
		}
	}

	&.red {
		background-color: #c92a2a;

		&:hover {
			background-color: color.adjust(#c92a2a, $lightness: -3%);
		}
	}
}
