.container {
	width: 1100px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.container {
		width: 992px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 576px;
	}
}

@media (max-width: 576px) {
	.container {
		width: 95%;
	}
}
