.projects-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;

	& > .project-item {
		text-decoration: none;
		color: #000;

		&.add {
			text-align: center;
		}
	}

	& > .project-item:hover .paper {
		user-select: none;
		cursor: pointer;
		border: 1px solid #ced4da;

		&:active {
			transform: translateY(1px);
		}
	}
}

@media (max-width: 768px) {
	.projects-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.projects-list {
		grid-template-columns: 1fr;
	}
}
